<link href="~/css/Register.css" rel="stylesheet" type="text/css" />
<link href="../../Script/smoothness/jquery-ui-1.9.0.custom.css" rel="stylesheet"
    type="text/css" />
<link href="../../css/Dialogcs.css" rel="stylesheet" type="text/css" />
<script src="../../Script/jquery-ui-1.9.0.custom.js" type="text/javascript"></script>
<script type="text/javascript">
    $("document").ready(
        function () {
            $('#btnOdustaniProfPass').click(function () {
                $("#registracijskaForma").dialog('close');
            });


            function promSifre2() {
                $("#registracijskaForma").dialog({
                    width: 300,
                    height: 280,
                    modal: true,
                    resizable: false,
                    draggable: false,
                    autoOpen: true,
                    open: function () {

                        $(this).parent().appendTo("form");
                        $('.ui-widget-overlay').bind('click', function () {
                            deAtachValidacija();
                            $('#registracijskaForma').dialog('close');

                        })
                    }

                })
            }


            $("#RegID").click(
            function () {
                promSifre2();
            });

         });
         </script>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Pocetna.cshtml";
}
    <div id="registracijskaForma">
   <div class="ProfNaslov">Registracija</div>
   <div class="regDivPolje">
<div class="regTextPolje">Korisničko ime:</div>
<input type="text" class="ProfPPolja" />


</div>

<div class="regDivPolje">
<div class="regTextPolje">E-mail:</div>
    <input type="text" class="ProfPPolja" />
</div>

<div class="regDivPolje">
<div class="regTextPolje">Šifra:</div>
<input type="text" class="ProfPPolja" />

</div>

<div id="btnOdustaniProfPass" class="ProfBtnIzlaz2" runat="server">Odustani</div>
<input type="button" class="ProfBtnSnimi2" value="Potvrdi" />

<div id="lblGreskaPass" class="profgreska"></div>
         
   </div>



