.ui-dialog-titlebar  
{
    display:none; 
    overflow:hidden;
    padding: 0;
}
.ui-dialog input{
   
     font-size:14px;
     padding:0px 0px 0px 5px;
 }
 
 .ui-dialog .regTextPolje
 {
     font-size:12px;
 }
 .ui-dialog .regtxtDan
 {
     font-size:12px;
 }
 .ui-dialog .regtxtGodina
 {
     font-size:12px;
 }
 
 
 .ui-widget-overlay {
    background: #000000;
    opacity: 0.3;
 }
 
 .ui-dialog .regRbVelicina
 {
     font-size:12px;
    
  
 }
 .ui-dialog .regRbtextLbl
 {
     font-size:12px;
     
 }
 
