.ProfNaslov
{
    width:200px;
    height:30px;
    display:block;
    color:#ffffff;
    margin:2px 0px 15px 5px;
    font-size:22px;
}
.regDivPolje
{
    width:280px;
    height:45px;
    overflow:hidden;
    float:left;
    margin:5px 0px 0px 8px;
    
    
}
.regTextPolje
{
    float:left;
    color:Black;
    width:250px;
    height:14px;
    margin:1px 0px 0px 0px;
    
}
.ProfPPolja
{
    border:1px solid #f7ce50;
    width:256px;
    height:25px;
    display:block;
 border-radius:4px;
    float:left;
    
}
.ProfBtnIzlaz2
{
   float:left;
    width:110px;

    height:20px;
  
text-align:left;
font-size:15px;
    font-weight:bold;
   
      margin:21px 0px 0px 9px;
    
}
.ProfBtnIzlaz2:hover
{
    cursor:pointer;
    
}
.ProfBtnSnimi2
{
   float:right;
    width:110px;

    height:20px;
  border:1px solid #fcdd7d;

    background:#f7ce50; 
    border-radius:4px;
      margin:20px 11px 0px 0px;
    -moz-box-shadow: 0 0 1px 1px #888;
 -webkit-box-shadow: 0 0 1px 1px #888;
 box-shadow: 0 0 1px 1px #888;
    
}
.profgreska
{
    float:left;
    width:150px;
    height:20px;
     margin:0px 0px 0px 9px;
     font-size:11px;
     color:#ee0101;
}
#registracijskaForma
{
    display:none;
    width:500px;
    height:552px;
    overflow:hidden;
    background-image:url('/Slike/regDialog.png');
}