<link href="~/css/Pocetna.css" rel="stylesheet" />


<script src="~/Script/jquery-1.8.3.js"></script>
<script type="text/javascript">
    $("document").ready(
        function () {
            $(".logintext").mouseover(function () {
                $(".loginSlika").css("background", "url('slike/key2.png')");
                $(".logintext").css("color", "#ff0000");
                $(".logintext").css("cursor", "pointer");
            });
            $(".logintext").mouseout(function () {
                $(".loginSlika").css("background", "url('slike/key.png')");
                $(".logintext").css("color", "#000000");
            });

            $(".regtext").mouseover(function () {
                $(".regSlika").css("background", "url('slike/registracija2.png')");
                $(".regtext").css("color", "#ff0000");
                $(".regtext").css("cursor", "pointer");
            });
            $(".regtext").mouseout(function () {
                $(".regSlika").css("background", "url('slike/registracija.png')");
                $(".regtext").css("color", "#000000");
            });


            $(".loginSlika").mouseover(function () {
                $(".logintext").css("color", "#ff0000");
                $(".loginSlika").css("background", "url('slike/key2.png')");
                $(".loginSlika").css("cursor", "pointer");
            });
            $(".loginSlika").mouseout(function () {
                $(".logintext").css("color", "#000000");
                $(".loginSlika").css("background", "url('slike/key.png')");
            });

            $(".regSlika").mouseover(function () {
                $(".regtext").css("color", "#ff0000");
                $(".regSlika").css("background", "url('slike/registracija2.png')");
                $(".regSlika").css("cursor", "pointer");
            });
            $(".regSlika").mouseout(function () {
                $(".regtext").css("color", "#000000");
                $(".regSlika").css("background", "url('slike/registracija.png')");
            });

            
           
        });

</script>
@{
    ViewBag.Title = "Pocetna";
}
<div class="headers">
    <div class="headPomocni">
        <div class="headLogo">
        </div>


        <div id="btnPrijavise" class="logintext">Prijava</div>
        <div class="loginSlika">
        </div>
        
        <div id="RegID" class="regtext">Registracija</div>
        <div class="regSlika">
        </div>

    </div>

</div>

<div class="contents">
    <div class="GlMeni">

        <div class="OkolicaMenijaHome">
        <div class="GdjeTacka"></div>
        <div class="GdjeText">Public</div>
        </div>

        <div class="OkolicaMenijaHome">
        <div class="GdjeTacka"></div>
        <div class="GdjeText">Public</div>
        </div>

        <div class="OkolicaMenijaHome">
        <div class="GdjeTacka"></div>
        <div class="GdjeText">Public</div>
        </div>

        <div class="OkolicaMenijaHome">
        <div class="GdjeTacka"></div>
        <div class="GdjeText">Public</div>
        </div>

        <div class="OkolicaMenijaHome">
        <div class="GdjeTacka"></div>
        <div class="GdjeText">Public</div>
        </div>

      
        <div class="OkolicaMenijaHomePret">
        <input type="text" class="PretragaMeni" />
        <input type="button" class="BtnPretraga" value="Trazi" />
        </div>

    </div>
    @RenderBody()
</div>
<div class="foothers">

    <div class="OkolicaMenijaHomeFoot">
               <div class="GdjeTextFoot">Privacy</div>
        </div>
    <div class="OkolicaMenijaHomeFoot">
               <div class="GdjeTextFoot">Contact</div>
        </div>
    <div class="OkolicaMenijaHomeFootRight">
   <div class="GdjeTextFoot"> 
   @Html.ActionLink("Copyright © FIT","Fit")
   </div>
               
        </div>
</div>
